header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
}

nav{
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: #333333;
}
.nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  color: #333333;
  text-decoration: none;
}

.nav-list{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nav-list-item{
  margin: 0 50px;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.nav-list-item a{
  text-decoration: none;
}

.nav-list-item a:hover{
  text-decoration: underline;
}
.anim-box.fadein.is-animated {
  animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sub{
  margin-left: 300px;
  margin-top: 100px;

}
body{
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
}
.title {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-left: 100px;
}

.title p{
  margin-top: 170px;
  padding-left: 50px;
}
h1{
  margin-top: 200px;
  margin-left: 100px;
  font-size: 64px;
}
.box{
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
}
.MY{
  padding-right: 50px;
  margin-top: 200px;
}
.name{
  margin-bottom: 100px;
  text-align: center;
  font-size: 24px;
}
.box a img{
  margin-left: 700px;
  margin-top: 100px;
}
#skills{
  background-color: #38363A;
  color: #FFFFFF;
  height: auto;
}
.sentence{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.Design{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.Development{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 100px;
}

.works{
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.works img{
  width: 100%;
  height: auto;
}
.works img:hover{
	transform:scale(1.1);
	transition:0.3s;
}
.is-active{
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}
#contact{
  background-color: #38363A;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.mail{
  text-align: center;
  padding-bottom: 100px;
  font-size: 40px;
}
.mail a{
  padding-right: 100px;
  text-decoration: none;
}
.mail a:link,
a:visited,
a:hover,
a:active{
  color: #FFFFFF;
}
footer{
  background-color: #38363A;
  color: #FFFFFF;
  margin-top: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.footer a:link,
a:visited,
a:hover,
a:active{
  color: #FFFFFF;
  text-decoration: none;
}
.list{
  display: flex;
  justify-content: center;
}
.copyright{
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  nav {
    margin-top: 20px;
  }

  .sub {
    margin-left: 50px;
    margin-top: 50px;
  }

  .works {
    grid-template-columns: 1fr;
    text-align: center;
  }
}


@media screen and (max-width: 768px) {
  .rotate img {
    max-width: 100px;
    height: auto;
    }

  nav {
    margin-top: 10px;
    margin-right: 20px;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list-item {
    margin: 10px 0;
    text-align: right;
  }
  header{
    width: 100%;
  }
  body{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .sub {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
  .sub img{
    width: 200px;
    text-align: center;
  }
  .main-visual{
    display: none;
  }
  .main-visual img{
    display: none;
  }
  h1 {
    margin-left: 20px;
    font-size: 40px;
  }
  .title {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
  }

  .title p{
    margin-top: 180px;
    padding-left: 50px;
  }
  .box {
    flex-direction: column;
    margin: 20px;
    text-align: center;
  }

  .MY {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .box a img {
    margin-left: 0;
    margin-top: 20px;
  }

  .sentence {
    margin: 20px;
  }

  .Design,
  .Development {
    margin: 20px 0;
  }
  .works {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .mail {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    }

  .mail a {
    padding-right: 20px;
  }

  .copyright {
    margin-top: 50px;
  }
  .list{
    display: none;
  }
}
