header {
  background-image: url(img/background-colour.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  font-family: Arial,sans-serif;
}

nav {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row-start;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}
body{
  font-family: Arial,sans-serif;
}
h1{
  padding-bottom: 20px;
  justify-content: space-between;
  text-align: center;
  color:#3e8e41;
}

.form {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  background-color: #E3FFE4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #45a049;
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form input[type="radio"] {
  margin-right: 10px;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #3e8e41;
}

footer{
  background-image: url(img/background.png);
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Arial,sans-serif;
}

.information {
  width: 50%;
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
}

footer img {
  width: 50%;
  max-width: 200px;
  height: auto;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  header {
    margin-bottom: 20px;
    height: 200px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
  }

  nav a {
    margin-bottom: 10px;
  }

  nav a img {
    max-width: 90%;
    height: auto;
  }

  .melon {
    width: 80%;
    margin: 10px auto 0;
  }

  .melon img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    padding-top: 150px;
    font-size: 2em;
  }
  .form {
    width: 80%;
  }

  footer {
    padding: 30px;
  }

  .information {
    margin-top: 50px;
    margin-left: 30px;
  }

  footer img {
    margin-top: 50px;
    margin-right: 30px;
  }
}