header {
  background-image: url(img/background-colour.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  font-family: Arial,sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row-start;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}
.melon{
  text-align: center;
  width: 100%;
}
h1{
  padding-bottom: 20px;
  justify-content: space-between;
  text-align: center;
  padding-top: 250px;
  color: white;
}

section{
  text-align: center;
}

body{
  font-family: Arial,sans-serif;
}

.goods{
  padding: 128px 0;
  color: #17AE14;
  width: 400px;
  display: inline;
  text-align: center;
}

.goods img{
  width: 300px;
  height: 300px;
}

.goods .list{
  text-align: center;
}

.right{
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

.list{
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
}

.wrap > div{
  width: 272px;
}

.wrap img{
  width: 272px;
  height: 177px;
  object-fit: cover;
}

.date{
  font-size: 12px;
  color: #EC715F;
}

.goods p chart{
  font-size: 16px;
  color: #909090;
}

.goods p{
  font-size: 20px;
}

.container{
  margin-bottom: 100px;
}

h2{
  color: #17AE14;
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}

footer{
  background-image: url(img/background.png);
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Arial,sans-serif;
}

.information {
  width: 50%;
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
}

footer img {
  width: 50%;
  max-width: 200px;
  height: auto;
  margin-top: 100px;
}


@media screen and (max-width: 767px) {
  header {
    margin-bottom: 20px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
  }

  nav a {
    margin-bottom: 10px;
  }

  nav a img {
    max-width: 150px;
    height: auto;
  }

  .melon {
    width: 80%;
    margin: 10px auto 0;
  }

  .melon img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    padding-top: 150px;
    font-size: 2em;
  }

  .goods {
    padding: 40px 20px;
    width: 100%;
  }

  .goods .list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .goods img {
    width: 80%;
    height: auto;
  }

  .list > div {
    width: 80%;
    text-align: center;
  }

  .container {
    margin-bottom: 50px;
  }

  h2 {
    margin-top: 50px;
    font-size: 1.5em;
  }

  .container img {
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .information {
    width: 90%;
    margin: 20px 0;
    text-align: center;
  }

  footer img {
    max-width: 150px;
    margin-top: 20px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    margin-bottom: 80px;
    padding-bottom: 30px;
  }

  nav {
    padding: 15px 30px;
  }

  nav a img {
    max-width: 200px;
  }

  .melon {
    width: 60%;
  }

  h1 {
    padding-top: 200px;
    font-size: 2.5em;
  }

  .goods {
    padding: 60px 30px;
    width: 80%;
    margin: 0 auto;
  }

  .goods .list {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 40px;
  }

  .goods img {
    width: 45%;
    height: auto;
  }

  .list > div {
    width: 45%;
    text-align: center;
  }

  .container {
    margin-bottom: 80px;
  }

  h2 {
    margin-top: 80px;
    font-size: 1.8em;
  }

  .container img {
    max-width: 70%;
    margin-bottom: 30px;
  }

  footer {
    padding: 30px;
  }

  .information {
    margin-top: 50px;
    margin-left: 30px;
    text-align: left;
  }

  footer img {
    max-width: 180px;
    margin-top: 50px;
    margin-right: 30px;
  }
}