header {
  background-image: url(img/background-colour.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  font-family: Arial,sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row-start;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}
nav img{
  text-align: center;
}
body{
  font-family: Arial,sans-serif;
}
h1{
  padding-bottom: 20px;
  justify-content: space-between;
  text-align: center;
  padding-top: 250px;
  color: white;
  margin-bottom: 50px;
}

.introduce{
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #17AE14;
  padding: 128px 0;
}
.detail {
  width: 800px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 0;
}

.image {
  width: 400px;
  text-align: left;
}

.image img {
  width: 300px;
  height: 300px;
}

.right {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  padding-top: 30px;
  margin-top: -20px;
}

.headline {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

main{
  text-align: center;
  margin-top: 0%;
  justify-content: space-between;
}

footer{
  background-image: url(img/background.png);
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Arial,sans-serif;
}

.information {
  width: 50%;
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
}

footer img {
  width: 50%;
  max-width: 200px;
  height: auto;
  margin-top: 100px;
}


@media screen and (max-width: 767px) {
  header {
    margin-bottom: 20px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
  }

  nav a {
    margin-bottom: 10px;
  }

  nav a img {
    max-width: 90%;
    height: auto;
  }

  .melon {
    width: 80%;
    margin: 10px auto 0;
  }

  .melon img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    padding-top: 150px;
    font-size: 2em;
  }

  .introduce {
    padding: 40px 20px;
  }

  .main-text {
    font-size: 1em;
    line-height: 1.7;
  }

  .detail {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .image {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .image img {
    width: 90%;
    height: auto;
  }

  .right {
    width: 100%;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
  }

  .headline {
    font-size: 1.5em;
  }

  main img {
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .information {
    width: 90%;
    margin: 20px 0;
    text-align: center;
  }

  footer img {
    max-width: 150px;
    margin-top: 20px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding-bottom: 30px;
  }

  nav {
    padding: 15px 30px;
  }

  nav img {
    max-width: 200px;
  }

  h1 {
    padding-top: 200px;
    font-size: 2.5em;
    margin-bottom: 50px;
  }

  .introduce {
    padding: 60px 30px;
  }

  .detail {
    width: 95%;
    flex-direction: row;
    margin: 0 auto;
  }

  .image {
    width: 45%;
    text-align: left;
    margin-bottom: 0;
  }

  .image img {
    width: 100%;
    height: auto;
  }

  .right {
    width: 55%;
    padding-top: 30px;
    margin-top: 0;
  }

  main img {
    max-width: 80%;
    height: auto;
    margin-bottom: 30px;
  }

  footer {
    padding: 30px;
  }

  .information {
    margin-top: 50px;
    margin-left: 30px;
    text-align: left;
  }

  footer img {
    max-width: 180px;
    margin-top: 50px;
    margin-right: 30px;
  }
}
