nav{
  width: 960px;
  height: 70px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #9DC4F9;
  margin: 3px 0;
  transition: 0.4s;
}

.nav-list{
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-list-item{
  margin: 0 50px;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.nav-list-item a{
  text-decoration: none;
}

.nav-list-item a:hover{
  text-decoration: underline;
}

h2{
  text-align: left;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 100px;
}

.box1{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}


.sentence1{
  text-align: left;
  margin-top: 50px;
}
.answer1{
  margin-right: 50px;
  float: left;
}

.box2{
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
}
.sentence2{
  text-align: left;
  margin-top: 50px;
  margin-left: 50px;
}
.answer2{
  float: right;
}
.box1 img, .box2 img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


body.loaded .box1 img, body.loaded .box2 img {
  opacity: 1;
}
.box1 img, .box2 img {
  transition: transform 0.3s ease-in-out;
}

.box1 img:hover, .box2 img:hover {
  transform: scale(1.05);
  cursor: pointer; 
}
footer{
  margin-top: 121px;
  margin-right: 200px;
}
.block{
  display: flex;
  margin-left: 300px;
}

.information{
  font-size: 20px;
  line-height: 200%;
}
.map{
  margin-right: 100px;
  padding-left: 100px;
}


@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list-item {
    margin: 10px 0;
  }
  body{
    width: 100%;
    margin-top: 0;
  }
  h2{
    font-size: 20px;
    margin-left: 25px;
  }
  .box1,
  .box2 {
    flex-direction: column;
    margin-left: 25px;
    padding: 10px;
    max-width: 90%;
  }

  footer {
    margin-top: 50px;
    margin-right: 0;
    padding: 20px;
    text-align: center;
  }
  
  .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }
  
  .information {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    text-align: left;
  }
  
  .map {
    margin: 20px;
    padding-left: 0;
    width: 100%;
  }
  
  .map iframe {
    width: 100%;
    height: 300px;
  }
  
  .copyright {
    font-size: 14px;
    margin-top: 20px;
  }
  
}

@media screen and (max-width: 480px) {
  .map iframe {
    height: 200px;
  }
}
