header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
}

nav{
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: #333333;
  text-align: right;
  margin-right: 100px;
}
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  color: #333333;
}

.nav-list{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nav-list-item{
  margin: 0 50px;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.nav-list-item a{
  text-decoration: none;
}

.nav-list-item a:hover{
  text-decoration: underline;
}
body{
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
}
.URL{
  margin-left: 100px;
}
.URL a:link,
.URL a:visited,
.URL a:hover,
.URL a:active {
  color: #333333;
}
img{
  text-align: center;
}
#title {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

#title p{
  margin-top: 170px;
  padding-left: 50px;
}
h1{
  margin-top: 200px;
  margin-left: 100px;
  font-size: 64px;
}
h2{
  margin-left: 100px
}
.main{
  text-align: center;
}
.item{
  text-align: left;
  margin-left: 200px;
  font-size: 20px;
  color: #333333;
  margin-right: 100px;
}

.item th {
    padding: 50px;
    border-bottom: solid 4px #fff;
    color: #333333
}
.item td {
    padding: 50px;
}
td:first-child {
  white-space: nowrap;
}

.work{
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 700px);
  gap: 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.work img{
  width: 100%;
  height: 3200px;
  object-fit: contain;
}
.responsive img{
  width: 200px;
}
footer{
  background-color: #38363A;
  color: #FFFFFF;
  margin-top: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
footer a:link,
a:visited,
a:hover,
a:active{
  color: #FFFFFF;
  text-decoration: none;
}
.list{
  display: flex;
  justify-content: center;
}
.copyright{
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .rotate img {
    max-width: 100px;
    height: auto;
    }

  nav {
    margin-top: 10px;
    margin-right: 20px;
  }

  .nav-list {
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-list-item {
    margin: 10px 0;
    text-align: right;
  }
  header{
    width: 100%;
  }
  body{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin-left: 20px;
    font-size: 40px;
  }
  h2{
    font-size: 16px;
    margin-left: 0;
    text-align: center;
  }
  .title {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
  }
  .title p{
    margin-top: 180px;
    padding-left: 50px;
  }
  .main img{
    width: 300px;
  }
  .item{
    margin-left: 10px;
    font-size: 10px;
  }
  .item td {
    padding: 20px;
}

.work {
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
}

.work img {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
  .copyright {
    margin-top: 50px;
  }
  .list{
    display: none;
  }
}
